.intro { 
  display: block;
  text-align: center;
}
.intro h1 {
  font-size: 3rem; 
}
.intro p {
  font-style: italic; 
  font-size: 1.5rem;
}
.Clifford {
padding: 1rem; 
color: red;
}

.Cthulhu {
padding: 1rem;
color: green;
}

.Garfield {
padding: 1rem; 
color: rgb(211, 81, 6);
}

.total {
  display: flex;
  border: 5px solid blue;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-evenly;
}